.changepass-notif{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 9999;
    top: -55px;
    cursor: pointer;
}
.loader-notif{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 9999;
    top: -55px;
    display: none;
    cursor: pointer;

}

.top-login-loader{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 9999;
    top: -155px;
    cursor: pointer;

}

.top-login-notification{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 9999;
    top: -155px;
    cursor: pointer;
}

.notification-modal {
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

h5{
    color: white;
    font-weight: 100;
}

.loader-notif.gray{
    background-color:#CCCCCC !important;
}
.loader-notif h5{
    color: black;
}

.top-login-loader.gray{
    background-color:#CCCCCC !important;
}
.top-login-loader h5{
    color: black;
}

/*.notification-modal{*/
/*padding: 20px;*/
/*}*/


/* Loading animation*/
.loading_dots
{
    background-color: none;
    border-radius: 5px;

    font-size: 2em !important; /* set size here */

    line-height: 0;
    top: 3px;
    width: 2.75em;
    text-align: center;
    float: left;
    position: relative;
    /*
      position just for demo
    */
}

.loading_dots span
{
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 1px #fff;
    display: inline-block;
    height: 0.4em;
    width:  0.4em;

    -webkit-animation:  loading_dots 0.8s linear infinite;
    -moz-animation:     loading_dots 0.8s linear infinite;
    -ms-animation:      loading_dots 0.8s linear infinite;
    animation:            loading_dots 0.8s linear infinite;
}
.loading_dots span:nth-child(2)
{
    -webkit-animation-delay:  0.2s;
    -moz-animation-delay:     0.2s;
    -ms-animation-delay:      0.2s;
    animation-delay:            0.2s;
}
.loading_dots span:nth-child(1)
{
    -webkit-animation-delay:  0.4s;
    -moz-animation-delay:     0.4s;
    -ms-animation-delay:      0.4s;
    animation-delay:            0.4s;
}

/*
  Define the animation for every efing vendor prefix
*/
@-webkit-keyframes loading_dots
{
    0% {
        background: transparent;
    }
    50% {
        background: orangered;
    }
    100% {
        background: transparent;
    }
}

@-moz-keyframes loading_dots
{
    0% {
        background: transparent;
    }
    50% {
        background: orangered;
    }
    100% {
        background: transparent;
    }
}
@-ms-keyframes loading_dots
{
    0% {
        background: transparent;
    }
    50% {
        background: orangered;
    }
    100% {
        background: transparent;
    }
}
@keyframes loading_dots
{
    0% {
        background: transparent;
    }
    50% {
        background: orangered;
    }
    100% {
        background: transparent;
    }
}

@media only screen and (max-width: 991px){
    .top-nav a {
        top: 10px;
        float: none;
        margin: 5px auto;
        width: 200px;
    }
    .select2-container .select2-selection--single {
        width: 70%;
    }

    .select2-selection__arrow{
        display:none;
    }
    .heading h3{
        font-size: 24px;
        padding-left: 15px;
    }
}

.btn-ghost {
    background-color: transparent !important;
    box-shadow: none;
    color: #555;
}

.btn-ghost.red:hover {
    color: #F44336;
}

/*==========={{ GENERAL }}=================*/
.chip.-btn-widget-timechip {
    width: 65%;
    margin: 0 auto;
}
.-btn-widget-timeout i { margin-right: 3px; float: none; }
.-btn-widget-timeout { padding: 0 32px; }


/*==========={{ DASHBOARD }}=================*/
.sect-view-tags-list-area {  margin-left: 67px; margin-top: -21px; }
.sect-view-tags-list-area span { color: #8a8383;  }
.sect-view-tags-list-area .level-2-gray-text { color: #8a8383;  }
.sect-view-tags-list-area .level-2-green-text { color: #6dab7f;  }
.sect-view-tags-list-area .level-2-red { color: salmon;  }
ul.legend-list {
    list-style: none;
    padding:0;
    margin:0;
    display: inline-block;
    float: left;
}
ul.legend-list li {
    padding-left: 1em;
    text-indent: -.7em;
    float:left;
    position: relative;
    top: -27px;
    margin-right: 20px;
}
ul.legend-list li:before {
    content: "□ ";
    color: red; /* or whatever color you prefer */
    font-size: 40px;
    position: relative;
    top: 12px;
    left: 10px;
}
ul.legend-list li a { position: relative; top: 5px; }
ul.legend-list li.active:before {content: "■ ";  }
ul.legend-list li.m:before { color: #FFC82D; }
ul.legend-list li.v:before { color: #0072B1; }
ul.legend-list li.h:before { color: #E90133; }
ul.legend-list li.i:before { color: #EB7124; }
ul.legend-list li.o:before { color: #9e9e9e; }

/** calendar */
.fc-toolbar .fc-center h2 {
    font-size: 26px;
    color: gray;
    position: relative;
    top: 5px;
}