.label{
    color: #333333;
}
.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.80);
}

.changepass-notif{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 9999;
    top: -55px;
    cursor: pointer;
}
.loader-notif{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 9999;
    top: -55px;
    display: none;
    cursor: pointer;

}

.top-login-loader{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 9999;
    top: -155px;
    cursor: pointer;

}

.top-login-notification{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 9999;
    top: -155px;
    cursor: pointer;

}
h5{
    color: white;
    font-weight: 100;
}

.loader-notif.gray{
      background-color:#CCCCCC !important;
}
.loader-notif h5{
    color: black;
}

.top-login-loader.gray{
    background-color:#CCCCCC !important;
}
.top-login-loader h5{
    color: black;
}

/*.notification-modal{*/
    /*padding: 20px;*/
/*}*/


/* Loading animation*/
.loading_dots
{
    background-color: none;
    border-radius: 5px;

    font-size: 2em !important; /* set size here */

    line-height: 0;
    top: 3px;
    width: 2.75em;
    text-align: center;
    float: left;
    position: relative;
    /*
      position just for demo
    */
}

.loading_dots span
{
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 1px #fff;
    display: inline-block;
    height: 0.4em;
    width:  0.4em;

    -webkit-animation:  loading_dots 0.8s linear infinite;
    -moz-animation:     loading_dots 0.8s linear infinite;
    -ms-animation:      loading_dots 0.8s linear infinite;
    animation:            loading_dots 0.8s linear infinite;
}
.loading_dots span:nth-child(2)
{
    -webkit-animation-delay:  0.2s;
    -moz-animation-delay:     0.2s;
    -ms-animation-delay:      0.2s;
    animation-delay:            0.2s;
}
.loading_dots span:nth-child(1)
{
    -webkit-animation-delay:  0.4s;
    -moz-animation-delay:     0.4s;
    -ms-animation-delay:      0.4s;
    animation-delay:            0.4s;
}

/*
  Define the animation for every efing vendor prefix
*/
@-webkit-keyframes loading_dots
{
    0% {
        background: transparent;
    }
    50% {
        background: orangered;
    }
    100% {
        background: transparent;
    }
}

@-moz-keyframes loading_dots
{
    0% {
        background: transparent;
    }
    50% {
        background: orangered;
    }
    100% {
        background: transparent;
    }
}
@-ms-keyframes loading_dots
{
    0% {
        background: transparent;
    }
    50% {
        background: orangered;
    }
    100% {
        background: transparent;
    }
}
@keyframes loading_dots
{
    0% {
        background: transparent;
    }
    50% {
        background: orangered;
    }
    100% {
        background: transparent;
    }
}
