.x-navigation > li.xn-logo > a:first-child {
    background: url("../img/navlogo.png") center center no-repeat #e34724;
}

.widget.clock-timer {
	background: #33414e;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: absolute;
    bottom: 0;
    left: 0;
	min-height: auto;
	left: -220px;
	max-width: 220px;
}
