/*** Custom CSS HERE ***/

.row {

	&:after, &:before {
		content:'';
		display: block;
		float: none;
		clear: both;
	}
}

.page-content{
	margin-left:300px;
	max-width: 100%;
	position: relative;
	@include transition(all 600ms cubic-bezier(0.215, 0.61, 0.355, 1));
	left: 0;

	h6{
		padding-bottom:5px;
	}

	.container {
		max-width: 100%;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}

.responsive-nav{
	.btn-flat {

		display:none;
		position: absolute;
		left: 0;
		top: 0;
		padding: 5px 16px;
		color:white;
	}
}

.material-tooltip{
	display: none !important;
}


/*LOG-IN PAGE*/
.main-logo{
	/*top: 100px;*/
	position: relative;
}

.login-2{
	position:relative;
	top:100px;
	background-color: #ff9800;
}

.login-form-2{
	margin: 0 auto;
	position: relative;
	width: 500px;
	text-align: center;
	background-color: white;
	/*top: 230px;*/
	padding: 50px;

	input{
		background-color: #eee;
		border-bottom:none;
		text-align:center;
	}
}

.message{
	text-align:center;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #ef6730;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
/*===END OF LOGIN PAGE===*/

/*HOMEPAGE*/
/*===END OF HOMEPAGE===*/

/*PROFILE*/
.emp-photo{
	float: left;
	padding: 10px 10px 0px 0;
	position: relative;
	top: 0px;
	left: 0px;
	display: inline;
}

.profile-image{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #ff9800;
	position: relative;
	overflow: hidden;

	span {
		line-height: 50px;
		font-size: 18px;
		color: #fff;
		text-align: center;
	}

	img{

		margin: 0 auto;
		width: 100%;
		height: auto;
		right: 0px;
		position: absolute;
		top: 0;
		z-index: 99;
		background: #fff;
	}

}

.profile{
	display:inline-block;
}


.profile-container2{
	position: relative;
    background-color: white;
    padding-bottom: 15px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;

    &:after {
    	content:'';
    	display: block;
    	float: none;
    	clear: both;
    }

	.empinfo-left, .empinfo-middle, .empinfo-right{
		position: relative;
		xleft: 50px;
		display:inline-block;
		color:#000;
		font-size:16px;

		.fa{
			color: #039be5;
		}
	}

	.empinfo-left{

		.p-lbl{
			display:inline-block;
			width:30px;
			position: absolute;
			left: 0;
			
		}

		.p-dta{
			font-weight:400;
			padding-left: 30px;
			display: block;
		}
	}

	.empinfo-middle{

		.p-lbl{
			display:inline-block;
			width:30px;
		}

		.p-dta{
			font-weight:400;
			display: block;
		}

		.edit-pdata{
			display:none;
			padding-left:15px;
			cursor:pointer;
			position: absolute;
			top: -1px;
			right: 0;
		}	

		input[type=text]{
			min-width: 150px;
			width: auto;
			padding: 0px;
			margin: 0;
			color: #000;
			border: none;
			font-size: 16px;
    		height: auto;


		}

		input[type=text]:disabled{
			min-width: 150px;
			height: auto;
			margin: 0;
			color: #000;
			border: none;

		}

		p {
			padding-right: 30px;
			position: relative;
		}
	}

	.empinfo-right{

		.p-lbl{
			display:inline-block;
			min-width: 100px;
			margin-right: 10px;
			font-weight: 500;
			color: #039be5;
		}

		.p-dta{
			padding-left:20px;
			font-weight:400;
		}
	}
}

.emp-tables{
    	
	xpadding-top:15px;

	.select-wrapper input.select-dropdown{
		background-color:#fff;
	}

	.caret{
		z-index: 999;
		color: black;
		position: absolute;
		left: 98%;
		top: 30%;
		font-size: 10px;
	}
}


.emp-tables{
	xpadding-top: 15px;
}


#perf-chart{
	position:relative;
	top:15px;
	background-color:#fff;
	padding: 30px;
}

.perf-table, .time-logs{
	background-color:#fff;

}

.perf-table {
	margin-bottom: 15px;
}

.test{
	width: 15px;
	display: inline-block;
	padding-left: 10px;
}


.editprofile-btns {
	float: right;
    position: relative;
    right: 15px;
    top: 0px;
}

.editprofile-btns2 {
	float: right;
    position: relative;
    right: 30px;
    display:none;
}

.profile-title {
	display: inline-block;
	position: relative;
	left:10px;


	h3{
		margin: 0px;
		padding-top: 15px;
		font-size: 40px;
		display:inline-block;

	}
}

.btn-save-profile, .btn-cancel-profile{
	display:none;
	width:100px;
	padding:0px;

}

.btn-edit-profile{
	display:block;
	width:100px;
	padding:0px;
}

.changepw-con{
	text-align: center;
    margin-top: 10px;
    display:none;
}


/*===END OF PROFILE===*/

/*NOTIFICATIONS */
/*===END OF NOTIFICATIONS===*/

/*VIEW REQUESTS*/
.btn-accept, .btn-decline{
	font-weight: 500;
	margin-left: 6px !important;
	color:white;
}

.dropdown-content li{
		min-height: 30px;
	}

.dd1 li > a{
	margin: 0px;	
}

.dropdown-content li > a, .dropdown-content li > span{
	line-height: 1;
}
/*===END OF VIEW REQUESTS===*/

/*MANAGE EMPLOYEES*/
/*===END OF MANAGE EMPLOYEES===*/


/*VIEW EMPLOYEES*/
.viewemp-wrap{
	padding: 15px;
}

.ve-info{
	margin-top: 15px;
	padding: 15px;
}


.ve-list{
	margin: 0px;
	li{
		display: inline-block;
		margin: 0px 40px;
	}
}

.ve-name, .ve-position{
	margin:0px;
}

.ve-name{
	padding-top:10px;
	font-weight:500;
}

.ve-picwrap{
	.btn-viewprofile{
	position: relative;
    top: 150px;
    right: 150px;
    font-size: 12px;
    padding: 0px 10px;
	}
}

.ve-img{
	margin: 0 auto;
	width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #ff9800;
    position: relative;
	
	span{
		text-transform: uppercase;
		line-height: 200px;
		font-size: 32px;
		color: #fff;
	}

	img{
		width:100%;
		height:auto;
		display:block;
	}

	img:hover{
		cursor: pointer;
	}
}

.ve-desc{
	a{
		color: #000;
	}
}

.ve-img .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  opacity: 0;
  // -webkit-transition: all 0.5s ease-out 0.5s;
  // transition: all 0.5s ease-out 0.5s;
}

.ve-img:hover .overlay {
  opacity: 1;

  .info {
  	@include transform(scale(1));
	opacity: 1;
  }
}


.ve-img a.info {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  margin: 80px 0 0 0;
  color: #fff;
  @include transform(scale(0.5));
  @include transition(all 0.3s ease);
}


/*===END OF VIEW EMPLOYEES===*/

.emp-info-wrap{
	
	position: relative;
	margin-bottom: 15px;

    .emp-quote{

    	i{
			padding-right:10px;
    	}

    	input{
    		margin:0px;
			width: 60%;
			border:none;
			font-size:22px;
			color: #000;
    	}
    }

	.emp-info{
		font-size:16px;
		letter-spacing: 1px;
		padding-bottom: 20px;

		h2{
			margin-bottom: 0px;
			margin-top: 0px;
			font-weight: 100;
		}

		p{
			margin: 0px;

			span{
				padding-right:10px;
			}
			.span-emph{
				font-weight:500;
				font-size: 22px;

				.span-emph2{
					font-size:18px;
				}
			}

			.editable{
				width: 10%;
				height: 1rem;
				margin: 0px;
				color: #000;
				font-weight: 400;
				font-size: 18px;


			}

			.editable2{
				width:50%;
				height: 1rem;
				margin: 0px;
				color: #000;
				font-weight: 400;
				font-size: 18px;
				}

			input[type=text]:disabled{
				border:none;
			}

			
			.select-wrapper input.select-dropdown{
				width:30px !important;
				float:right !important;

			}
		
		}

		i{
			font-size: 16px;
			padding-bottom: 5px;
			padding-right: 5px;
		}

		b{
			padding-right:5px;
		}

		.edit-pdata{
			display:none;
		}
		
	}
}

/*MENU/NAVIGATION*/
.nav-right{
	position: fixed;
	z-index:3;
	width: 300px;
	overflow:auto;
	float: left;
	height: 100%;
	background-color: white;
	color: black;

	@include transition(all, 600ms, cubic-bezier(0.215, 0.61, 0.355, 1));
}

.nav-icon{
	font-size: 2rem;
	margin-right: 20px;
}

.emp-nav, .admin-nav, .logout-nav{
	border: none;
	margin: 0;
	background-color: transparent;
	top:30px;

}

.emp-nav .collection-item.active, 
.admin-nav .collection-item.active{
	background-color: rgb(231, 231, 231);
	color:black;

}

.logout-nav{
	border-top: 1px solid #e0e0e0;
}

.rightpanel{
	text-align: center;
	padding: 0px 15px 15px 15px;
}
.company-logo{
	padding: 5px;
	text-align: center;
}
.company-logo img{
	position: relative;
	border:1px solid #e0e0e0; 
	border-radius:50%; 
	top:10px; 
	width: 100px; 
	height: auto;
}


.logout-container{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 999;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.80);
	display:none;

}

.logout{
	position: relative;
	top: 40%;

}


.btn-yes-logout{
	color: white;
	font-size: 20px;
	font-weight: 300;
}


.confirm-logout{
	position: relative;
	color: white;
	font-size: 48px;
	font-weight: 100;
	z-index: 3;
	display:none;
	margin:0;
}

.clr {
	float: none;
	clear: both;
	display: block;
}

.btn-yes a{
	color:white;
}

/*===END OF MENU/NAVIGATION===*/

/*NOTIF|FEEDBACKS|ALERTS*/
.timein-notif-container,
.timeout-notif-container,
.accept-notif-container, 
.sendtoemail-notif-container,
.add-success-container,
.changepw-notif-container{
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 9999;
	top: -55px;
	cursor: pointer;

	@include transition(all, 600ms, cubic-bezier(0.075, 0.82, 0.165, 1));

	h5{
		color: white;
		font-weight: 100;
	}


}

.close-alert{
	@include transition(all, 600ms, cubic-bezier(0.075, 0.82, 0.165, 1));
}
/*===END OF NOTIF|FEEDBACKS|ALERTS===*/

/*TIME-IN & TIME-OUT*/
.time-in, 
.diff-ip, 
.forgotpw{
	position: absolute;
	height: 100vh;
	width: 100%;
	opacity: 10;
	z-index: 3;

}


.timeout{
	position: absolute;
	width: 100%;
	height: 100vh;
	opacity: 10;
	z-index:3;
	display:none;

}

.time-in-container,
.diff-ip-container, 
.forgotpw-container{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 999;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.80);

}

.timeout-container{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 999;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.80);
	display:none;
}

.btn-timein{
	position: relative;
	font-size: 20px;
	font-weight: 300;
	color: white;
}

.btn-yes, 
.btn-cancel {
	position: relative;
	font-size: 20px;
	font-weight: 300;
	color: white;
	display:none;

}

.btn-timeout{
	color: white;
	height: 40px;
	line-height: 40px;
	top: 5px;
}

.confirm-timein{
	position: relative;
	color: white;
	font-size: 48px;
	font-weight: 100;
	z-index: 2;
	margin:0;

}

.diff-ip-notice, 
.forgotpw-notice{
	position: relative;
	color: white;
	font-size: 48px;
	font-weight: 100;
	z-index: 2;
	margin:0;

}
.confirm-timeout{
	position: relative;
	color: white;
	font-size: 48px;
	font-weight: 100;
	z-index: 2;
	display:none;
	margin:0;

}

.diff-ip-sent, 
.forgotpw-sent{
	position: relative;
	color: white;
	font-size: 48px;
	font-weight: 100;
	z-index: 2;
	margin:0;
	display:none;

}

.diff-ip-req{
	position: relative;
	color: white;
	font-size: 48px;
	font-weight: 100;
	z-index: 2;
	margin:0;
	display:none;

}

.diff-ip-reason{
	position: relative;
	color: white;
	font-size: 48px;
	font-weight: 100;
	z-index: 2;
	margin:0;
	display:none;
}

.btn-ip-ok, 
.btn-ip-send{
	display:none;
}

.btn-forgotpw-ok{
	display:block;
	width:100px;
}

.timeout-container input{
	width:500px; 
	text-align:center; 
	color:white;
}
/*==END OF TIME-IN & TIME-OUT===*/


.selectDept{
	display:none;
	.select-wrapper {

		input.select-dropdown{
			width:70%;
			margin:0;
		}
		.caret{
			right:310px;
		}
	}
}


#exportchoice{
	.modal-content{
		.lbl-info{
			padding:0px;
			color:black;
		}

		[type="checkbox"]+label, [type="radio"]+label{
			padding-left:30px;
			padding-right:20px;
		}


	}
}


.emp-list tbody{
	cursor:pointer;
}

.collection a.collection-item{
	color: black;
	padding: 20px;
	display: inline-block;
	vertical-align: middle;
	width: 100%;

}

.btn-floating{
	&.btn-emp, &.btn-pos, &.btn-dept{
		border-radius:2px;
		width:auto;
		text-transform: uppercase;
		padding: 0px 10px;
	}
}




.heading{
	height: auto;
	padding-bottom: 15px;

	h3{
		font-weight: 100;
		margin-top: 70px;
		color: white;
		font-size: 60px;
	}
}



.top-nav{
	h3{
		display: inline-block;
	}

	a{
		float: right;
		margin-top: 20px;
		position: relative;
	}
}


.dd1 li > a{
	padding: 10px;
}


#modal-emp, 
#modal-pos, 
#modal-dept{


	p{
		font-weight:500;

	}

	input{
		font-weight:300;
	}

}

#modal-pos,
#modal-dept{
	height: 30%;
}

label{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	color: white;
	padding: 7px;
	border-radius: 5%;

}

.notif-list{
	border:none;
	.collection-item.avatar{
		min-height: 70px;
	}

	p{
		padding: 10px;

	}
}


.clock{
	text-align: center;
	.plugin-clock{
		font-weight: 500;
		font-size: 36px;
	}

}

.clock2{
	font-weight: 500;
	font-size: 36px;
	color:white;
	z-index:2;
}


/*CALENDAR*/
.fc-toolbar{
	margin-top:10px;

	button{
		border:none;
	}
}

.fc-state-default{
	box-shadow: none;
}

.fc-state-active{
	background-color: #039be5;
	color:white;
}

.fc-agendaWeek-button, 
.fc-agendaDay-button, 
.fc-month-button, 
.fc-prev-button, 
.fc-next-button  {

	&:focus, &:active {
		background-color: #039be5 !important;
		background-image: none;
		color: #fff;
	}

}

button:focus{
	background-color:none;
}

.material-icons{
	vertical-align: middle;

}

.fc-event .leave{

	border: 1px solid rgba(0,0,0,0.2);
	background-color:#e53935;
}

.fc-event .meeting{
	border: 1px solid rgba(0,0,0,0.2);
	background-color:#43a047;

}
.fc-toolbar .fc-center{
	display:none;
}

.fc .fc-button-group>:first-child{
	z-index: 1;
}


/*===END OF CALENDAR===*/

.valign-wrapper{
	height: 100%;
	display: flex;
}

.heading h6{
	margin:0;
	color:white;
	text-transform: uppercase;
}

h4{
	.dailyagenda-title{
		font-weight: 500;
	}
}

#daily_agenda{
	z-index:9999;

	.modal-content{
		h4{
			font-weight: 100;
		}	

	}
}

.heading h3{
	margin:0px;
	padding-top: 15px;
	font-size:40px;

}


.agenda-buttons{
	float: right;
}


.reject{
	display: none;
	position: relative;
}

.chip{
	top:10px; 
	position:relative;
	&.timed-in, &.timed-out{
		display:none;
	}
}

.required-field{
	display:none;
	width:150px;
	text-transform: uppercase;
	text-align:center;


}

.sent{
	display:none;
	width:110px;
	text-transform: uppercase;
	text-align:center;
}

.browser-default{
	border: 1px solid #9e9e9e;
	margin-bottom: 10px;
}

.legend{
	width: 300px;
	table{
		width: 25%;

	}
}

.wrapper {
  padding: 50px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

#canvas {
  display: block;
  margin: 0 auto;
}

#main-container {
	position: relative;
	overflow: hidden;
}

.editable-info {
	p {
		margin-top: 0;
		margin-bottom: 10px;
		min-height: 24px;
	}
}

.select-wrapper input.select-dropdown {
	padding-left: 15px;
}


.hidden-desktop {
	display: none;
}

.prompt {
	.btn-block {
		margin-top: 20px;
	}
}

/*END OF DAILY AGENDA MODAL*/


span.badge.new{
	background-color: #039be5;
}

.upload-pic{
	font-weight: 400;
	font-size: 12px;
}


@media only screen and (max-width: 1300px){
	.empinfo-right {
		margin-top: 20px;
	}

	.ve-list li{
		margin:0px 20px;
	}

}


@media only screen and (max-width: 991px){

	.company-logo img {
		width:40%;
		height: auto;
	}

	.collection a.collection-item{
		padding: 15px;
	}

	.heading h3{
		font-size: 32px;
		padding-top: 40px;
		font-size: 42px;
		display:block;

	}
	.btn-timeout{
		padding: 0px 5px;
	}

	.top-nav{
		float:none;
		text-align: center;

		a{
			float:none;
		}
	}

	.btn-flat .materials-icon .res-menu{
		font-size: 30px;
	}

	.emp-nav, .admin-nav{
		top:25px;
	}

	.company-logo img{
		top:15px;
	}

	.employee-profile-center, 
	.employee-profile-right {
		position: relative;
		top: 40px;

	}

	.profile-title{
		clear:both;
		float:none;
		display:block;
		left:0;
		text-align:center;

	}

	.profile-image {
		margin: 0 auto;
		margin-top:15px;
	}

	.profile-container2 .empinfo-right {
		padding-left: 0 !important;
	}


	.emp-info-wrap{

		.emp-info{
			text-align: center;
			letter-spacing: 0px;

				#addr{
					width:80%;
					font-size: 16px;
				}

				#tel-p{
					width:20%;
					font-size:14px;
				}

				#cel-p{
					width:25%;
					font-size:14px;
				}

				span{
					font-size: 14px;
				}

				input[type=text]:disabled{
					border:none;
				}
		}
	}

	.legendColorBox > div{
		width: 14px !important;
	}

	.time-logs{
		width:100%;
		position:relative;
		top:30px;
		margin-left:0px;
		margin-right:0px;
		border-top: 1px solid #e7e7e7;
	}

	.perf-table{
		margin: 0px 0px;
		border-top: 1px solid #e7e7e7;
	}
	table.responsive-table th{
		text-align: left;
	}

	table.responsive-table tr{
		padding: 0px 0px;
	}

	.profile-container2{
		top:0;
		left:0;
		clear: both;
		float: none;
		margin: 0 auto;
		max-width:100%;

		.empinfo-left, .empinfo-middle, .empinfo-right{
			left: 0px;
			display:block;
			xpadding: 0px 15px;
		}


		.empinfo-left .p-lbl{
			/*display:initial;*/
		}

		.empinfo-middle {

			.p-lbl{
				padding:0;
				width:30px;

			}

			input[type=text]{
				width: 130px;
			}

			input[type=text]:disabled{
				width: 130px;	
			}

		}	


		.empinfo-right {

			.p-lbl{
				padding:0;
				width: 80px;
			}	
		}
	}



	.editprofile-btns{
		clear:both;
		float:none;
		display:block;
		top:0;
		left:0;
		text-align:center;
	}
	
	.heading h3{
		font-size: 28px;
		padding-top: 15px;

	}

	.btn-edit-profile{
		margin:0 auto;
	}

	.profile-title h3{
		position:relative;
		padding-top:0px;
		text-align:center;
	}

	.ve-list li{
		margin: 0px;
	}

}

@media only screen and (min-width: 768px){

	.nav-right {
		left: 0 !important;
	}
	.page-content {
		left: 0 !important;
	}

	.employee-profile-center,
	.employee-profile-right {
		position: relative;
		top: 40px;

	}

	
}

@media only screen and (max-width: 767px) {

	.main-logo{
		width: 50%;
	}

	.profile-image span {
		line-height: 100px;
    	font-size: 48px;
	}

	.confirm-timein{
		font-size: 40px;
	}

	.emp-photo.hidden-desktop {
		display: block;
	}

	.profile-container2 .empinfo-left .p-dta {
		padding-left: 30px;
	}

	.login-2{
		top:20px;
	}


	.login-form-2{
		width:100%;
		padding: 50px 20px;
	}


	.emp-photo{
		float:none;
		clear:both;
		position: relative;
		xtop:15px;
		left: 0px;
		display: none;
		margin-bottom: 15px;
		padding: 0;
	}

	.profile-image{
		margin: 0 auto;
		width: 100px;
		height: 100px;
	}

	.profile-title{
		clear:both;
		float:none;
		display:block;
		left:0;
	}


 	.changepwmodal{
	    float: right;
	    top: 15px;
	    display: none;
	}

	.profile-container2{
		top:0;
		left:0;
		max-width:100%;
		padding-top: 15px;

		.empinfo-left .p-lbl{
			/*display:initial;*/
		}

		.empinfo-middle {

			.p-lbl{
				padding:0;
				width:30px;

			}

			input[type=text]{
				width: 200px;
			}

			input[type=text]:disabled{
				width: 200px;	
			}

		}	


		.empinfo-right {
			.p-lbl{
				padding:0;
				width: 80px;

			}	
		}
	}
	.emp-info-wrap{
		.emp-info{
		text-align: center;
		letter-spacing: 0px;

		#addr{
			width:80%;
			font-size: 16px;
		}

		#tel-p{
			width:20%;
			font-size:14px;
		}

		#cel-p{
			width:25%;
			font-size:14px;
		}

		span{
			font-size: 14px;
		}

		input[type=text]:disabled{
			border:none;
		}

		p{
			margin: 0px;

			span{
				padding-right:10px;
			}
			.span-emph{
				font-weight:500;
				font-size: 16px;

				.span-emph2{
					font-size:18px;
				}
			}
		}

		}

		.emp-tables{
			padding-bottom: 15px;
		}

	}
	
	.time-logs{
		width:100%;
		position:relative;
		top:30px;
		margin-left:0px;
		margin-right:0px;
		border-top: 1px solid #e7e7e7;
	}

	.perf-table{
		margin: 0px 0px;
		border-top: 1px solid #e7e7e7;
	}

	.editprofile-btns{
		clear:both;
		float:none;
		display:block;
		text-align:center;
	}

	.changepw-con{
		display:block;
	}
	

	.employee-profile-center, 
	.employee-profile-right {
		position: relative;
		top: 40px;
	}

	.res-menu{
		font-size: 30px !important;
	}

	.nav-right{
		left: -325px;
		width: 250px;
	}

	.page-content{
		margin:0px;
	}

	.content{
		padding: 0;
	}


	.heading{
		.center-align{
			font-size:18px;
			margin-left:30px;
		}

		h3{
		font-size: 28px;
		xpadding-top: 40px;

		}
	}

	.btn-edit-profile{
		margin:0 auto;
	}

	.profile-title h3{
		position:relative;
		padding-top:0px;
		text-align:center;
	}
	.responsive-nav{
		.btn-flat {
			display: block;
			padding: 10px 16px 5px;
		}
	}

	table{
		max-width:100%;
	}

	.clock2{
		font-size: 20px;
	}
	#main-wrapper {
		position: relative;
		overflow: hidden;
	}

	.rightpanel, .company-logo {
		width:100%;
		float:none;
		clear:both;
		padding: 0;
	}


	.company-logo {
		width: 60%;
		margin: 0 auto;
	}

	.collection a.collection-item{
		padding: 10px 15px;
	}

	.fixed-action-btn.horizontal ul{
		width:0px;
		height:270px;
		right:180px;
	}

	.confirm-timeout, .confirm-logout{
		font-size:20px;
	}

	.profile-info{
		border:none;
	}
	.btn-sendtoemail{
		float:left;
		width:50%;
		text-align:center;
	}

	.btn-reasoncancel{
		float:right;
		width:50%;
		text-align:center;
	}

	.btn-reqmeeting, .btn-reqleave{
		width:100%;
	}

	.btn-reqleave{
		position:relative;
		top:10px;

	}

	.btn-submitmeeting{
		top:5px;

	}

	.input-field{
		margin:0px;
		top: 15px;
	}

	#daily_agenda .modal-content h4{
		font-size:22px;
	}

	.profile-image{

		/*width: 120px;
		height: 120px;

		span {
			line-height: 120px;
			font-size: 48px;
			color: #fff;
		}*/

		/*img{
			width: 120px;
			height: 120px;
			top: -120px;
			right:0px;
			position:relative;
		}*/
	}


	.legend{
		position: relative;
		width: 75%;
		height: 128px;
		top: 14px;
		right:0px;
		margin: 0 auto;

		table{
			position: relative;
			top: 14px;
			left: 115px;
		}
	}

	.modal .modal-content{
		padding:15px;
	}

	#modal-pos, #modal-dept{
		height: 50%;
	}

	.emp-tables{

		.caret{
			left: 95%;
		}
	}

	.ve-list li{
		margin: 0px 25px;
	}

	.dropdown-content li{
		min-height: 30px;
	}

	.dd1 li > a{
		margin: 0px;	
	}

	.dropdown-content li > a, .dropdown-content li > span{
		line-height: 1;
	}

	.timeout-container{
		input{
			width: 100%;
		}
	}

	.agenda-buttons{
		float:none;
		.btn-reqleave{
			width: 100%;
		}
	}

	.form-reqleave{
		
		.caret{
			display:none;
		}

		.reqleave-dd{
			padding: 0px 5px;
		}
		.select-wrapper input.select-dropdown{
			padding: 0px 5px;
			margin-top: 10px;
		}

		.reqleave-lbl{
			margin: 0px;
			padding: 0px 10px;
		}

		.reqleave-p{
			margin: 0px;
		}

		#reason-leave-sbt{
			padding: 0px;
		}

		.btn-submitleave{
			margin-top: 20px;
		}
	}

	#exportchoice{
	.modal-content{

		[type="checkbox"]+label, [type="radio"]+label{
			padding-right:0px;
		}

		.selectDept .select-wrapper input.select-dropdown{
			width:100%;
		}

		.select-wrapper input.select-dropdown{
			padding-left: 0px;
		}

		
	}
}

}


