{% if role == 'ADMIN' %}
<a href="{{ path('time_logs_page') }}" class="waves-effect waves-light btn amber btn-export" style="color: white;">
    View Time logs</a>
<a href="{{ path('manage_employee') }}" class="waves-effect waves-light btn amber btn-export" style="color: white;">
    View Employees</a>
<a class="waves-effect waves-light btn orange btn-export modal-trigger modal-export" href="#exportchoice">
    Export</a>
{#<a href="{{ path('view_request') }}" class="waves-effect waves-light btn btn-export" style="color: white;">View Requests</a>#}
{% endif %}