<div class="center-align nav-menu" style="margin-top: 20px;">
    <a href="{{ path('manage_employee') }}" class="waves-effect waves-light btn btn-export" style="color: white;">View Employees</a>
    <a href="{{ path('time_logs_page') }}" class="waves-effect waves-light btn btn-export" style="color: white;">View Time logs</a>
    {#<a href="{{ path('view_request') }}" class="waves-effect waves-light btn btn-export" style="color: white;">View Requests</a>#}
</div>