@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.main-logo{
  position: absolute;
  top: 10%;
  left: calc(50% - 100px);
  max-width: 180px;
  min-height: 180px;
  z-index: 1;
}

.bg-top{
  position: absolute;
  top: 0;
  width: 100%;
  height: 35%;
  background: #00bddd;
}

.bg-bottom{
  position: absolute;
  top: 35%;
  width: 100%;
  height: 65%;
  background: #f9a022;
}

.login-page {
  width: 480px;
  padding: 8% 0 0;
  margin: auto;
  margin-top: -250px;
}
.form {
  position: absolute;
  top: calc(5% - 80px);
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ef6730;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #ee4a07;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}
.form .message a {
  color: #ef6730;
  text-decoration: none;
}

body {
  background: #ffffff; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #ffffff, #808080);
  background: -moz-linear-gradient(right, #ffffff, #808080);
  background: -o-linear-gradient(right, #ffffff, #808080);
  background: linear-gradient(to left, #ffffff, #808080);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

*{
  margin: 0;
}